body {
    font-family: "Lato",sans-serif;
    overflow-x: hidden;
    margin: 0px;
}

.peroni {
    height: 504px;
    overflow: hidden;
}

.site {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0% 19%;
}

h2 {
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 0em;
}

p {
    line-height: 1.5em;
    font-size: 18px;
    margin-bottom: 2em;
}

.cursos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#ima {
    width: 100%;
}

.curso img {
    max-width: 100%;
    height: 175px;
    object-fit: cover;

}

.curso {
    width: 24%;
    overflow: hidden;
    background-color: #eee;
    border-radius: 12px;
    max-height: 100%;
    box-shadow: 0px 2px 8px rgba(0,0,0,.3);
}

.conteudo {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    background-color: #fff;
    margin-top: 1px;
    font-size: 0.9em;
}

.conteudo img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
}

.conteudo #texto {
    display: flex;
    align-items: center;
    font-size: .9em;
    text-align: left;
    width: 67%;
    font-weight: 600;
    word-break: break-all;
}

.conteudo #texto a {
    max-width: 100%;
}

.conteudo #seta {
    display: inline;
    align-self: center;
    text-align: right;
    margin-left: 17px;
    color: #777;
    font-size: 1.5em;
    font-weight: 500;
    word-break: break-all;
    position: relative;
    left: 0px;
    transition: .3s;
}

.conteudo:hover #seta {
    left: 8px;
}

.curso #titulo-curso{
    background-color: blue;
    height: 100px;

    display: flex;
    align-items: flex-end;

    color: #fff;
    line-height: 1.2em;
    font-size: 1.375em;
    font-weight: 800;
    text-align: left;
    margin-left: 15px;
    margin-top: -117px;
    margin-bottom: 18px;
    text-shadow: 1px 1px 4px black, 0 0 1em black, 0 0 0.2em black;
}

#teste {
    background-color: blue;
    max-height: min-content;
}